/* You can add global styles to this file, and also import other style files */

body {
  color: rgb(214, 195, 21);
  background-image: url('app/images/sw-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}