<div class="list listItems" *ngIf="(speciesList$ | async) as speciesList; else loader">
  <button routerLink="" class="back"></button>
  <ul>
    <li *ngFor="let item of speciesList.results">
      <a routerLink="{{item.url.slice(30, item.url.length-1)}}">{{item.name | uppercase}}</a>
    </li>
    
  </ul>
  <div class="prevNextContainer">
    <div>
      <button *ngIf="speciesList.previous" class="previous" (click)="changePage(speciesList.previous)"></button>
    </div>
    <div>
      <button *ngIf="speciesList.next" class="next" (click)="changePage(speciesList.next)"></button>
    </div>
  </div>

</div>
<ng-template #loader>
  <div class="list">
    <app-loader></app-loader>
  </div>
</ng-template>