<div class="list listItems" *ngIf="(speciesList$ | async) as speciesList; else loader">
  <button routerLink="" class="back"></button>
  <div class="search__container">
    <input class="search__input" type="text" name="search" #search autocomplete="off" (keyup.enter)="changePage('https://swapi.dev/api/species/?search=' + search.value)">
    <button class="search__button" type="button" (click)="changePage('https://swapi.dev/api/species/?search=' + search.value)"></button>
  </div>
  <ul>
    <li class="item" *ngFor="let item of speciesList.results" routerLink="{{item.url.slice(30, item.url.length-1)}}" tabindex="-1">
      <a class="--orange" routerLink="{{item.url.slice(30, item.url.length-1)}}">{{item.name | uppercase}}</a>
      <p>Classification:
        <span class="--orange">{{item.classification}}</span>
      </p>
    </li>
    
  </ul>
  <div class="prevNextContainer">
    <div>
      <button *ngIf="speciesList.previous" class="previous" (click)="changePage(speciesList.previous)"></button>
    </div>
    <div>
      <button *ngIf="speciesList.next" class="next" (click)="changePage(speciesList.next)"></button>
    </div>
  </div>

</div>
<ng-template #loader>
  <div>
    <app-loader></app-loader>
  </div>
</ng-template>