<div *ngIf="!appGetApisService.isError; else error404">
  <div class="list" *ngIf="(specie$ | async) as specie; else loader">
    <button routerLink="" class="back"></button>
    <h3 class="--orange">{{ specie.name }}</h3>
    <p>Classification: 
      <span class="--orange">{{ specie.classification }}</span>
    </p>
    <p>Designation: 
      <span class="--orange">{{ specie.designation }}</span>
    </p>
    <p>Average height: 
      <span class="--orange">{{ specie.average_height }}</span>
    </p>
    <p>Skin colors: 
      <span class="--orange">{{ specie.skin_colors }}</span>
    </p>
    <p>Hair colors: 
      <span class="--orange">{{ specie.hair_colors }}</span>
    </p>
    <p>Eye colors: 
      <span class="--orange">{{ specie.eye_colors }}</span>
    </p>
    <p>Average lifespan: 
      <span class="--orange">{{ specie.average_lifespan }}</span>
    </p>
    <ul *ngIf="specie.homeworld != null">Homeworld:
      <li class="item"><a class="--orange" routerLink="/planets/{{specie.homeworld.slice(30, specie.homeworld.length-1)}}">{{ specie.homeworld | nameFromApi }}</a></li>
    </ul>
    <p>Language: 
      <span class="--orange">{{ specie.language }}</span>
    </p>
    <ul *ngIf="(specie.people.length > 0)">People:
      <li class="item" *ngFor="let people of specie.people"><a class="--orange" routerLink="/people/{{people.slice(29, people.length-1)}}">{{ people | nameFromApi }}</a></li>
    </ul>
    <ul *ngIf="(specie.films.length > 0)">Films:
      <li class="item" *ngFor="let film of specie.films"><a class="--orange" routerLink="/films/{{film.slice(28, film.length-1)}}">{{ film | nameFromApi }}</a></li>
    </ul>
    <p>Created: 
      <span class="--orange">{{ specie.created | date:'medium' }}</span>
    </p>
    <p>Edited: 
      <span class="--orange">{{ specie.edited | date:'medium' }}</span>
    </p>
  </div>
  <ng-template #loader>
    <div class="list">
      <app-loader></app-loader>
    </div>
  </ng-template>
  
</div>
<ng-template #error404>
  <app-four-zero-four></app-four-zero-four>
</ng-template>

<!-- name: string,
classification: string,
designation: string,
average_height: string,
skin_colors: string,
hair_colors: string,
eye_colors: string,
average_lifespan: string,
homeworld: string,
language: string,
people: Array<string>,
films: Array<string>,
created: string,
edited: string,
url: string -->