
<div class="list listItems" *ngIf="(filmsList$ | async) as filmsList; else loader">
  <button routerLink="" class="back"></button>
  <ul>
    <li class="item" *ngFor="let item of filmsList.results" routerLink="{{item.url.slice(28, item.url.length-1)}}" tabindex="-1">
      <a class="--orange" routerLink="{{item.url.slice(28, item.url.length-1)}}">Episode {{item.episode_id}}: {{item.title | uppercase}}</a>
      <p>Release date: 
        <span class="--orange">{{item.release_date}}</span>
      </p>
    </li>
    
  </ul>
  <div class="prevNextContainer">
    <div>
      <button *ngIf="filmsList.previous" class="previous" (click)="changePage(filmsList.previous)"></button>
    </div>
    <div>
      <button *ngIf="filmsList.next" class="next" (click)="changePage(filmsList.next)"></button>
    </div>
  </div>

</div>
<ng-template #loader>
  <div>
    <app-loader></app-loader>
  </div>
</ng-template>