<div class="list" *ngIf="(films$ | async) as film; else loader">
  <button routerLink="" class="back"></button>
  <h3>Episode {{film.episode_id}}: {{ film.title }}</h3>
  <p>Opening crawl: 
    <span>{{ film.opening_crawl  }}</span>
  </p>
  <p>Director: 
    <span>{{ film.director  }}</span>
  </p>
  <p>Producer: 
    <span>{{ film.producer  }}</span>
  </p>
  <p>Release date: 
    <span>{{ film.release_date  }}</span>
  </p>
  <ul *ngIf="(film.characters.length > 0)">Characters:
    <li *ngFor="let character of film.characters"><a routerLink="/people/{{character.slice(29, character.length-1)}}">{{ character | nameFromApi }}</a></li>
  </ul>
  <ul *ngIf="(film.planets.length > 0)">Planets:
    <li *ngFor="let planet of film.planets"><a routerLink="/planets/{{planet.slice(30, planet.length-1)}}">{{ planet | nameFromApi }}</a></li>
  </ul>
  <ul *ngIf="(film.starships.length > 0)">Starships:
    <li *ngFor="let starship of film.starships"><a routerLink="/starships/{{starship.slice(32, starship.length-1)}}">{{ starship | nameFromApi }}</a></li>
  </ul>
  <ul *ngIf="(film.vehicles.length > 0)">Vehicles:
    <li *ngFor="let vehicle of film.vehicles"><a routerLink="/vehicles/{{vehicle.slice(31, vehicle.length-1)}}">{{ vehicle | nameFromApi }}</a></li>
  </ul>
  <ul *ngIf="(film.species.length > 0)">Species:
    <li *ngFor="let specie of film.species"><a routerLink="/species/{{specie.slice(30, specie.length-1)}}">{{ specie | nameFromApi }}</a></li>
  </ul>
  <p>Created: 
    <span>{{ film.created }}</span>
  </p>
  <p>Edited: 
    <span>{{ film.edited }}</span>
  </p>
  
</div>
<ng-template #loader>
  <div class="list">
    <app-loader></app-loader>
  </div>
</ng-template>


<!-- title: string,
  episode_id: number,
  opening_crawl: string,
  director: string,
  producer: string,
  release_date: string,
  characters: Array<string>,
  planets: Array<string>,
  starships: Array<string>,
  vehicles: Array<string>,
  species: Array<string>,
  created: string,
  edited: string,
  url: string -->