<div *ngIf="!appGetApisService.isError; else error404">
  <div class="list" *ngIf="(vehicle$ | async) as vehicle; else loader">
    <button routerLink="" class="back"></button>
    <h3 class="--orange">{{ vehicle.name }}</h3>
    <p>Model: 
      <span class="--orange">{{ vehicle.model }}</span>
    </p>
    <p>Manufacturer: 
      <span class="--orange">{{ vehicle.manufacturer }}</span>
    </p>
    <p>Cost in credits: 
      <span class="--orange">{{ vehicle.cost_in_credits }}</span>
    </p>
    <p>Length: 
      <span class="--orange">{{ vehicle.length }}</span>
    </p>
    <p>Max atmosphering speed: 
      <span class="--orange">{{ vehicle.max_atmosphering_speed }}</span>
    </p>
    <p>Crew: 
      <span class="--orange">{{ vehicle.crew }}</span>
    </p>
    <p>Passengers: 
      <span class="--orange">{{ vehicle.passengers }}</span>
    </p>
    <p>Cargo capacity: 
      <span class="--orange">{{ vehicle.cargo_capacity }}</span>
    </p>
    <p>Consumables: 
      <span class="--orange">{{ vehicle.consumables }}</span>
    </p>
    <p>Vehicle class: 
      <span class="--orange">{{ vehicle.vehicle_class }}</span>
    </p>
    <ul *ngIf="(vehicle.pilots.length > 0)">Pilots:
      <li class="item" *ngFor="let pilot of vehicle.pilots"><a class="--orange" routerLink="/people/{{pilot.slice(29, pilot.length-1)}}">{{ pilot | nameFromApi }}</a></li>
    </ul>
    <ul *ngIf="(vehicle.films.length > 0)">Films:
      <li class="item" *ngFor="let film of vehicle.films"><a class="--orange" routerLink="/films/{{film.slice(28, film.length-1)}}">{{ film | nameFromApi }}</a></li>
    </ul>
    <p>Created: 
      <span class="--orange">{{ vehicle.created | date:'medium' }}</span>
    </p>
    <p>Edited: 
      <span class="--orange">{{ vehicle.edited | date:'medium' }}</span>
    </p>
    
  </div>
  <ng-template #loader>
    <div class="list">
      <app-loader></app-loader>
    </div>
  </ng-template>
  
</div>
<ng-template #error404>
  <app-four-zero-four></app-four-zero-four>
</ng-template>

<!-- name: string,
model: string,
manufacturer: string,
cost_in_credits: string,
length: string,
max_atmosphering_speed: string,
crew: string,
passengers: string,
cargo_capacity: string,
consumables: string,
vehicle_class: string,
pilots: Array<string>,
films: Array<string>,
created: string,
edited: string,
url: string -->