<div *ngIf="!appGetApisService.isError; else error404">
  <div class="list" *ngIf="(starship$ | async) as starship; else loader">
    <button routerLink="" class="back"></button>
    <h3 class="--orange">{{ starship.name }}</h3>
    <p>Model: 
      <span class="--orange">{{ starship.model }}</span>
    </p>
    <p>Manufacturer: 
      <span class="--orange">{{ starship.manufacturer }}</span>
    </p>
    <p>Cost in credits: 
      <span class="--orange">{{ starship.cost_in_credits }}</span>
    </p>
    <p>Length: 
      <span class="--orange">{{ starship.length }}</span>
    </p>
    <p>Max atmosphering speed: 
      <span class="--orange">{{ starship.max_atmosphering_speed }}</span>
    </p>
    <p>Crew: 
      <span class="--orange">{{ starship.crew }}</span>
    </p>
    <p>Passengers: 
      <span class="--orange">{{ starship.passengers }}</span>
    </p>
    <p>Cargo capacity: 
      <span class="--orange">{{ starship.cargo_capacity }}</span>
    </p>
    <p>Consumables: 
      <span class="--orange">{{ starship.consumables }}</span>
    </p>
    <p>Hyperdrive rating: 
      <span class="--orange">{{ starship.hyperdrive_rating }}</span>
    </p>
    <p>MGLT: 
      <span class="--orange">{{ starship.MGLT }}</span>
    </p>
    <p>Starship class: 
      <span class="--orange">{{ starship.starship_class }}</span>
    </p>
    <ul *ngIf="(starship.pilots.length > 0)">Pilots:
      <li class="item" *ngFor="let pilot of starship.pilots"><a class="--orange" routerLink="/people/{{pilot.slice(29, pilot.length-1)}}">{{ pilot | nameFromApi }}</a></li>
    </ul>
    <ul *ngIf="(starship.films.length > 0)">Films:
      <li class="item" *ngFor="let film of starship.films"><a class="--orange" routerLink="/films/{{film.slice(28, film.length-1)}}">{{ film | nameFromApi }}</a></li>
    </ul>
    <p>Created: 
      <span class="--orange">{{ starship.created | date:'medium' }}</span>
    </p>
    <p>Edited: 
      <span class="--orange">{{ starship.edited | date:'medium' }}</span>
    </p>
    
  </div>
  <ng-template #loader>
    <div class="list">
      <app-loader></app-loader>
    </div>
  </ng-template>
  
</div>
<ng-template #error404>
  <app-four-zero-four></app-four-zero-four>
</ng-template>
<!-- name: string,
  model: string,
  manufacturer: string,
  cost_in_credits: string,
  length: string,
  max_atmosphering_speed: string,
  crew: string,
  passengers: string,
  cargo_capacity: string,
  consumables: string,
  hyperdrive_rating: string,
  MGLT: string,
  starship_class: string,
  pilots: Array<string>,
  films: Array<string>,
  created: string,
  edited: string,
  url: string -->